<launch>  
  <!-- cartographer -->
  <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" args="-configuration_directory $(find pioneer3dx_cartographer)/configuration_files -configuration_basename pioneer.lua" output="screen"></node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.05"/>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find pioneer3dx_cartographer)/configuration_files/pioneer.rviz"/>
  
  <!-- rosbag -->
  <param name="/use_sim_time" value="true" />
  
  <node name="playbag" pkg="rosbag" type="play" args="--clock $(arg bag_filename)" />
</launch>